.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 20px;
}
.login-input {
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 50px;
  border-color: green;
  width: 70%;
  padding: 12px;
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 90vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.loginform h2 {
  color: green;
}

.login-button {
  margin-bottom: 20px;
}

.login-button button {
  border-radius: 18px;
  width: 150px;
}
