.single-plant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-spacing-trim: 1rem;
  padding: 2rem;
  background-color: #fefefe;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 2rem auto;
  height: fit-content;
}

.single-plant-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.plant-details-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buy-button {
  width: 150px;
}
.own-button {
  width: 150px;
}
.vr-test {
  width: 150px;
}

.single-plant-details h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.single-plant-details p {
  font-size: 1rem;
  color: #7f8c8d;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.single-plant-details strong {
  color: #2ecc71;
}
